.img-box {
    border: 1px solid beige;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 2%;
    width: 260px;
}

.number-box {
    height: 100px;
    font-family: 'Bungee Spice';
    animation-name: vibration;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}

@keyframes vibration {
    0% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}





.poke-ball {
    margin: 30px auto;
    width: 250px;
    height: 250px;
    border-radius: 40px;
    border: solid 2px red;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 300px;
    background-size: contain;
    background-image: url('../assets/img/pokeball.jpg');
    background-repeat: no-repeat;
    /* transition: 0.5s ease-in-out, opacity 0.5s ease-in-out; */

}

@media(max-width: 330px) {
    .poke-ball {
        display: flex;
        width: 150px;
        height: 150px;
        max-width: 300px;
        max-height: 300px;
    }
    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
        display: inline-flex;
        flex-direction: row;
        width: 150px;
        height: 50px;
        max-width: 200px;
        max-height: 200px;
    }
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    background-color: whitesmoke;
}

.menu{
    height: 50px;
    background-color: lightseagreen;
    padding-bottom: 20px;
}